@{
    Layout = null;
}
<div class="pcoded-inner-navbar main-menu">
    <div class="pcoded-navigatio-lavel">منوی کاربری</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="">
            <a href="/panel">
                <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                <span class="pcoded-mtext">داشبورد</span>
            </a>
        </li>
        <li class="pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="icofont icofont-users-alt-2"></i></span>
                <span class="pcoded-mtext">مدیریت کاربران</span>

            </a>
            <ul class="pcoded-submenu">
                <li class="">
                    <a href="/User/Admins">
                        <span class="pcoded-mtext">مدیران</span>
                    </a>
                </li>
                <li class="">
                    <a href="/User/Users">
                        <span class="pcoded-mtext">کاربران</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="icofont icofont-users-alt-2"></i></span>
                <span class="pcoded-mtext">تنضیمات سایت</span>

            </a>
            <ul class="pcoded-submenu">
                <li class="">
                    <a href="/SiteInfo/HomePageInfo">
                        <span class="pcoded-mtext">اطلاعات سایت</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="icofont icofont-users-alt-2"></i></span>
                <span class="pcoded-mtext">محتوای سایت</span>

            </a>
            <ul class="pcoded-submenu">
                <li class="">
                    <a href="/PageContent/List">
                        <span class="pcoded-mtext">صفحات متنی</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="pcoded-navigatio-lavel">محصولات</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="icofont icofont-box"></i></span>
                <span class="pcoded-mtext">مدیریت محصولات</span>
            </a>
            <ul class="pcoded-submenu ">
                <li class="">
                    <a href="/ProductCat/list">
                        <span class="pcoded-mtext">دسته بندی</span>
                    </a>
                </li>
                <li class="">
                    <a href="/Products/List">
                        <span class="pcoded-mtext">محصولات</span>
                    </a>
                </li>
                <li class="">
                    <a href="/SpecificationAttribut/List">
                        <span class="pcoded-mtext">مشخصات محصول</span>
                    </a>
                </li>
                <li class="">
                    <a href="/Brand/List">
                        <span class="pcoded-mtext">برند</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="pcoded-navigatio-lavel">وبلاگ</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="icofont icofont-box"></i></span>
                <span class="pcoded-mtext">مدیریت مقالات</span>

            </a>
            <ul class="pcoded-submenu">
                <li class="">
                    <a href="/BlogCategory/list">
                        <span class="pcoded-mtext">دسته بندی</span>
                    </a>
                </li>
                <li class="">
                    <a href="/BlogPost/List">
                        <span class="pcoded-mtext">مقالات</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="pcoded-navigatio-lavel">ارتباطات</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="">
            <a href="/NewsLetter/list">
                <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                <span class="pcoded-mtext">خبرنامه</span>
            </a>
        </li>
        <li class="">
            <a href="/SocialNetwork/list">
                <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                <span class="pcoded-mtext">شبکه های اجتماعی</span>
            </a>
        </li>
    </ul>
    <div class="pcoded-navigatio-lavel">فروشگاه</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="">
            <a href="/Discounts/list">
                <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                <span class="pcoded-mtext">تخفیفات</span>
            </a>
        </li>
    </ul>
</div>