
@{
    ViewData["Title"] = "خبرنامه";
}

<!-- Data Table Css -->
@section Style{
    <link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/pages/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
   }
<div class="card">
    <div class="card-header">
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="feather icon-maximize full-card"></i></li>
                <li><i class="feather icon-minus minimize-card"></i></li>
                <li><i class="feather icon-trash-2 close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block">
        <div class="table-responsive dt-responsive">
            <table id="dataTable" class="table table-striped table-bordered nowrap"></table>
        </div>
    </div>
</div>
@section Scripts{
    <!-- data-table js -->
    @{ await Html.RenderPartialAsync("js/_datatable"); }
    <script src="~/Scripts/Communication/NewsLetter.js"></script>
}


